<form action="/receipts" method="post">
  <label for="height">height</label>
  <input type="number" name="height" id="height">
  <label for="weight">weight</label>
  <input type="number" name="weight" id="weight">
  <label for="baseWidth">baseWidth</label>
  <input type="number" name="baseWidth" id="baseWidth">
  <br>
  <button type="submit" name="submit">Submit</button>
</form>
